@font-face {
  font-family: 'Bitcount Grid Double';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('bitcount-100.ttf') format('truetype');
}
@font-face {
  font-family: 'Bitcount Grid Double';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('bitcount-200.ttf') format('truetype');
}
@font-face {
  font-family: 'Bitcount Grid Double';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('bitcount-300.ttf') format('truetype');
}
@font-face {
  font-family: 'Bitcount Grid Double';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('bitcount-400.ttf') format('truetype');
}
@font-face {
  font-family: 'Bitcount Grid Double';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('bitcount-500.ttf') format('truetype');
}
@font-face {
  font-family: 'Bitcount Grid Double';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('bitcount-600.ttf') format('truetype');
}
@font-face {
  font-family: 'Bitcount Grid Double';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('bitcount-700.ttf') format('truetype');
}
@font-face {
  font-family: 'Bitcount Grid Double';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('bitcount-800.ttf') format('truetype');
}
@font-face {
  font-family: 'Bitcount Grid Double';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('bitcount-900.ttf') format('truetype');
}
